H1{
    color: rgb(226, 168, 43);
    font-size: 70px;

}
p{
    color: darkgoldenrod;
    font-size: 5    0px;
}
div{
    width: 200px;
    height: 200px;
    
background: rgb(9, 202, 144);
 margin-bottom:20px;
font-size: 18px;



}
div {
    color: rgb(76, 43, 226);
}
.demo{
    color: #e61111;
    text-align: center;
    text-align: right;
    border-radius: 10PX;
    background-color: darkcyan;
}
.hello{
    color: rgb(126, 12, 219);
    text-align: justify;
    height: 200px;
    width: 300px;
    margin: 60px;
padding: 40PX;
border-radius: 30PX;
padding-bottom: 50PX;
background-color: coral;

}